{% include base_path %}

<div style="margin-bottom: 40px;">
    <div style="display: flex; align-items: flex-start;">
        <div>
            <img src="{{ school.logo }}" alt="{{ school.name }} logo"
                style="border-radius: 50%; width: 50px; height:50px; margin-right: 20px;">
        </div>
        <div style="flex-grow: 1; align-self: flex-start;">
            <h2 style="margin: 0;">{{ school.name }}</h2>
        </div>
        <div style="text-align: right;">
            <p style="margin: 0">{{ school.location }} </p>
            <p style="margin: 0">{{ school.startDate }} - {{ school.endDate }}</p></div>
    </div>
    <ul>
        <li>Major: {{school.major}}</li>
        <li>Honors: {{school.honors}}</li>
    </ul>
</div>